*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Bakbak One", sans-serif;
}

:root{

  --color:#1877f2;
  --color1:#ffd11b;
  --color2:#BA17BD;
  

 /* --color:#000A5B; */
 /* --color1:#D6A85A; */
 /* --color2:#36055F; */
 --color3:#fff;
 --color4:#000;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color);

}
/* .hero{
  background-size: cover;
  width: 100%;
  top: 0;
  position: static;
  color: var(--color4);
  z-index: 1;
  
  background-color: var(--color1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.116);
  transition: 0.5s;

 
}
.nav{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  align-items: center;
}

.nav a {
color: var(--color3);
font-weight: 500;
padding: 10px;
font-size: 20px;
font-family: 'Roboto', sans-serif;
text-decoration: none;
}
.nav_logo{
  height: 100px;
} */

.hero{
  background-size: cover;
  width: 100%;
  top: 0;
  position: fixed;
  color: var(--color4);
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.116);
  transition: 0.5s;

  padding: 15px;
}


.container{
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
}



.nav{
  --state-close:scale(0);
  --state-hamburguesa:scale(1);
  --state-menu:translate(-100%);


  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, max-content);

}
.nav:target{
  --state-menu:translate(0);
  --state-hamburguesa:scale(0);
  --state-close:scale(1);
}
.nav_logo{
  font-size: 1.90rem;
  color: var(--color3);
  letter-spacing: 7px;
  text-decoration: none;
  

 
}
.nav_logo span{
  color: var(--color-tertiary);
}

.nav_hamburguesa,
.nav_close{
  cursor: pointer;
  grid-column:-2/-1 ;
  grid-row: 1/2;
  transition: .4s transform;
}

.nav_hamburguesa{
  transform: var(--state-hamburguesa);
  z-index: 3;
}
.nav_close{
  transform:var(--state-close);
  z-index: 3;
}

.nav_links{
 background:var(--color2);
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 padding: 0;

 display: grid;
 align-content: center;
 padding-left: 5%;
 justify-content: center;
 text-align: center;
 transform: var(--state-menu);
 transition: .3s transform;
 z-index: 1;
}
.nav_item{
  list-style: none;
    
  padding: 20px;
  transform: var(--state-menu);
}


.nav_link{
  color: var(--color3);
  text-decoration: none;
  font-size: 1.7em;
  letter-spacing: 2px;
  font-weight: bold;
  
}

/* .nav_link:hover{
  color: var(--color2);
  transition: ease-in-out all 0.2s;
} */


.nav_icon{
  color:var(--color3);
  font-size: 50px;
}
.nav_icon_close{
  color: var(--color3);
  font-size: 50px;
  
  
}


/* ============================== */
section{
  /* min-height: 70vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background: url(./imgs/wave.svg);
  background-repeat: no-repeat;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #ccc; */
  padding: 30px;
 /* Ajusta el ancho según tus necesidades */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  background-color: var(--color);
  color: var(--color3);
  
}

.card img {
  width: 200px; 
  display: none;
  border-radius: 4px;

}

.content {
  margin-top: 100px;
  flex: 1;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  
}

p {
  margin-bottom: 20px;
  
}

.a {
  width: 100%;
  text-align: center;
  background-color: var(--color1);
  color: #fff;
  text-decoration: none; 
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
}

/* .a:hover {
  background-color: var(--color2);
} */

/* =========================== */




.footer{
  text-align: center;
  width: 100vw !important;
  color: var(--color3);  
  padding: 25px;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.116);
  margin-top: auto;

  background-color: var(--color3);
}
.derechos{
  margin: 10px;
  color: var(--color4);
  /* font-family: 'Kanit', sans-serif; */
  
}
.contenedorDeColores{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.color{
  height: 30px;
  width: 50px;
  background-color: var(--color);
  border: #000 solid 0.5px;
}
.color1{
  height: 30px;
  width: 50px;
  background-color: var(--color1);
  border: #000 solid 0.5px;
}
.color2{
  height: 30px;
  width: 50px;
  background-color: var(--color2);
  border: #000 solid 0.5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilo para el botón del dropdown */
.dropbtn {
  background-color: var(--color);
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Estilo para el contenido del dropdown (escondido por defecto) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilo para los enlaces del dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Cambia el color del enlace al pasar el mouse por encima */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Muestra el contenido del dropdown cuando el botón se haga hover */
.dropdown:hover .dropdown-content {
  display: block;
  margin-left: -50px;
  border-radius: 10px;
  
}

/* Opcional: Añade un borde al botón para que parezca un botón tradicional */
.dropbtn {
  border-radius: 5px;
}

.foro {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
  padding: 60px 0;

  overflow: hidden;
}

/* form{
  width: 280px;
} */

.foro h2 {
  text-align: center;
  font-size: 20px;
  border-bottom: #000 solid 2px;
  /* margin-top: 60px; */
  padding: 0px 20px;
}

.contain_dudas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 10px;
  min-width: 270px;
  resize: none;
  margin-bottom: 10px;
}

.dudas textarea{
  resize: none;
  width: 100%;
  height: 100%;
  padding: 0.5px 30px;
  justify-content: space-between;
}

.butt{
  padding: 9px 20px;
}
.butt:hover{
  cursor: pointer;
}

.contain{
  background-color: var(--color3);
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  width: 320px;
  overflow: hidden;
}

.tops {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
} 

.foro h4{
  font-size: 20px;
  color: var(--color);
  border-bottom: var(--color) 2px solid;
}
.rol{
  color: var(--color2);
}
#fecha{
  font-size: 14px;
  color: #928f8f;
}
#pregunta{
  color: var(--color4);
  font-size: 20px;
}


.preg {
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
  resize: none;
  padding: 0.5px 0px;


}

.contain_comentario{
  background: #eee ;
  color: var(--color4) ;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border-bottom: var(--color4) solid 2px;
}
.user{
  font-size: 18px;
  color: var(--color4);
}
.rol-comentario{
  color: var(--color2);
}
.comentario{
  margin-top: 10px;
  color: var(--color4);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.contain_respuesta{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 10px;
  min-width: 270px;
  width: 270;
  max-width: 300px;
  margin-top: 20px;
  overflow: hidden;
}
.respuesta textarea{
  resize: none;

}

/* .butt {
  padding: 20px;
  border-radius: 30px;
  border: 0px solid transparent;
  transition: all 0.3s;
}

.butt:hover {
  background-color: var(--color);
  cursor: pointer;
  color: #fff;
}

.coment:hover{
  background-color: var(--color1);
  color: #000;
} */


/* .foro div p {
  margin-bottom: 0px;
} */

/* .comentario {
  background: #ccc !important;
  color: #000 !important;
  width: 100% !important;
}

.rol {
  color: var(--color2);
  margin-left: 15px;
}

.rol-comentario {
  color: var(--color) !important;
  margin-left: 7px;
} */



@media (min-width:845px){

 

  .hero{
    padding: 20px;
  }
  section{
    background: none;
  }
  .card {
      display: flex;
      flex-direction: row;
      padding: 10px;
    }
    .card img {
      width: 300px;
      display: flex;
      margin-right: 50px;
      display: none;
    }
    .content{
      flex: 1;
      margin-top: 100px;
      padding: 0 0 20px 0;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 20px;
      text-align: center;
    }
    
    p {
      margin-bottom: 25px;
      font-size: 20px;
      
    }
    
    .a {
      width: 100%;
      text-align: center;
      background-color: var(--color1);
      color: #fff;
      text-decoration: none; 
      padding: 10px 20px;
      border-radius: 4px;
      display: inline-block;
      font-size: 20px;
      transition: all 0.3s;
    }
    /* .a:hover{
      background-color: #e6c649;
      transition: 0.2s ease-in-out all;

    } */

    .foro{
      background-color: #eee;
    }
    .foro h2 {
     font-size: 24px;
    }
    
    .contain_dudas {
      min-width: 800px;
    }
    .contain_respuesta{
      min-width: 760px;
    }
    .respuesta textarea{
      resize: none;
    
    }
    .butt{
      padding: 9px 50px;
    }
    .contain{
      width: 800px;
    }
      .nav{
          --state-hamburguesa:scale(0);
          --state-menu:translate(0);
          
      }
      .nav:target{
          --state-close:scale(0);
      }
      .nav_links{
          padding: 0;
          background:unset;
          position: unset;
          gap: 1.5em;
          grid-auto-flow: column;
       
          transform: unset;
         
          grid-column: -2/-1;
          grid-row: 1/2;
       }
      .nav_link{
          font-size: 1.3em;
          letter-spacing: none;
          background-color: unset;
          color: var(--color3);
      }
      
      .nav_item{
          list-style: none;
            
          padding: 0;
          
      }
     
}

/* @media (max-width:845px){

  .nav {
    flex-direction: column;
  }

  .nav a {
    margin: 20px;
  }

  .nav :nth-child(2) {
    padding: 10px;
  }

  .dropdown-content a { 
    padding: 0px 0px;
  }

  .foro {
    width: 100vw;
  }

  .card {
    width: 100vw;
  }

  .rol {
    font-size: 20px;
    text-align: center;
  }

  h4 {
    font-size: 20px;
  }
} */