:root{

    --color:#1877f2;
    --color1:#ffd11b;
    --color2:#BA17BD;
    --color3:#fff;
    --color4:#000;
}

body {
  background-color: #eee;
}

h1 {
    color: var(--color4);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* padding: 30px;
    border-radius: 30px; */
}

.cont-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


h2 {
    /* margin-top: 5px; */
    text-align: left;
}

p{
    color: var(--color);
}
.grupo{
    color: var(--color2);
}
