:root{

    --color:#000A5B;
    --color1:#D6A85A;
    --color2:#36055F;
    --color3:#fff;
    --color4:#000;
}

main {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    width: 50vw;
    background-color: var(--color1);
    border-radius: 3px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px;
}

form input {
    padding: 10px;
    border-radius: 4px;
    border: 0px solid var(--color);
}


#boton {
    background-color: #000A5B;
    color: #fff;
    cursor: pointer;
    margin-top: 10px !important;
}

@media (max-width:400px){

    form {
        width: 100vw !important;
    }

}